@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h2 {
  font-size: 6em;
  color: white;
  font-weight: 500;
}

.box {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
}

.box h2 {
  font-size: 3em;
}

.box2 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: black;
}

.box2 h2 {
  font-size: 3em;
  color: white;
}











