* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

section {
  padding: 100px;
}

section h2 {
  font-size: 3.5em;
  color: #555;
}

section p {
  font-size: 1.2em;
  color: #555;
}

#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);

}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 0%;
  border-radius: 30px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}
#progressbar:before,
#progressbar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#progressbar:after {
filter: blur(30px);
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}
::-webkit-scrollbar {
  width: 0;
}
#percent {
  position: fixed;
  top: 50%;
  right: 10px;
  color: white;
  font-size: 2em;
  transform: translateY(-50%) rotateX(180deg) rotateY(180deg);
  writing-mode: vertical-rl;
  text-orientation: sideways;
}
